body {
  margin: 0 0;
  padding: 0 0;
}

h5 {
  font-family: 'Amatica SC', cursive;
}

#container {
  margin-left: 1em;
  width: 720px;
}

.insection {
  margin: 3em 3em;
}

.insection h1 {
  font-size: 2em;
  font-family: 'Amatica SC', cursive;
}

.insection p {
  line-height: 1.5em;
}

#menu ul {
  font-size: 2em;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #f0f0f0;
  font-family: 'Amatica SC', cursive;
}

#menu li {
  float: right;
}

#menu li a {
  display: block;
  color: #333333;
  text-align: center;
  padding: 28px 37px;
  text-decoration: none;
}

#menu li a:hover {
  background-color: #333333;
  color: #f0f0f0;
}

#masthead {
  position: relative;
  height: 460px;
  overflow: hidden;
}

#masthead img {
  position: absolute;
  width: 100%;
}

#masthead_overlay {
  position: absolute;
  text-align: center;
  top: 460px;
  z-index: 1;
}

#masthead_overlay a {
  display: block;
  float: left;
  text-decoration: none;
  text-align: center;
  color: #000;
  width: 200px;
  border: 1px solid white;
  padding: 13px;
  margin: 13px;
  background-color: #f0f0f0;
  opacity: 0.8;
  font-family: 'Amatica SC', cursive;
  font-size: 1.5em;
}

#masthead_overlay a:hover {
  background-color: #333333;
  color: white;
  opacity: 0.8;
}

.cloudstitch-widget-container {
  top: 460px;
}

.calendar-month {
  display: block;
  float: left;
  width: 300px;
  margin: 30px 30px;
}

.archive_photos {
  position: relative;
  height: 400px;
  width: 100%;
  overflow: hidden;
}

.archive_photos_before {
  float: left;
  width: 50%;
  height: 260px;
  overflow: hidden;
}

.archive_photos_before h1 {
  position: absolute;
  color: white;
  top: 0;
  left: 17;
}

.archive_photos_before img {
  float: left;
  width: 100%;
}

.archive_photos_after {
  float: right;
  width: 50%;
  height: 260px;
  overflow: hidden;
}

.archive_photos_after h1 {
  position: absolute;
  color: white;
  top: 0;
  right: 17;
}

.archive_photos_after img {
  float: right;
  width: 100%;
}
